#portfolio {
  background-color: #102342;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#portfolio-title {
  font-size: xx-large;
  padding: 20px;
  color: white;
  padding-top: 50px;
}

.container-portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-column {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 14%;
  margin: 20px;
}

.project-column a {
  text-decoration: none;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.project-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  color: white;
  font-size: large;
  font-weight: 1000;
}

.gitHub-logo {
  width: 35px;
  padding-left: 10px;
}

.project-description {
  color: white;
  padding: 5%;
}

.project-description p {
  width: 100%;
}

.project-img {
  margin-bottom: auto;
}

.project-img img {
  width: 250px;
  height: 150px;
}

@media screen and (max-width: 1650px) {
  .project-column {
    margin: 50px;
  }
}

@media screen and (max-width: 1250px) {
  .project-column {
    margin: 75px;
  }
}

@media screen and (max-width: 900px) {
  .container-portfolio {
    flex-direction: column;
    align-items: center;
  }

  .project-column {
    width: 75%;
  }

  .project-column {
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .container-portfolio {
    margin-top: 25%;
  }
}
