#portfolio {
  background-color: #102342;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#portfolio-title {
  font-size: xx-large;
  padding: 20px;
  color: white;
  padding-top: 50px;
}

.container-portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-column {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  width: 14%;
  height: auto;
  margin: 20px;
}

.project-column a {
  text-decoration: none;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  margin-bottom: 50px;
}

.project-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  color: white;
  font-size: large;
  font-weight: 1000;
}

.gitHub-logo {
  width: 35px;
  padding-left: 10px;
}

.project-description {
  color: white;
  padding: 10px;
}

.project-img {
  margin-bottom: auto;
}

.project-img img {
  width: 250px;
  height: 150px;

  /* display: flex; */
  /* align-self: flex-end; */
}
