#resume {
  background-color: #102342;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-bottom: 40px;
}

.title-resume {
  font-size: xx-large;
  padding: 20px;
  padding-top: 50px;
}

.skill-row {
  display: flex;
  flex-direction: row;
}

.dev-icons img {
  width: 75px;
  margin: 25px;
}

.button-download {
  background-color: #02645e;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: larger;
  font-weight: 700;
  border: #0e0806;
  padding: 5px;
  width: 250px;
  margin: 30px;
}

@media screen and (max-width: 625px) {
  .dev-icons img {
    width: 50px;
    margin: 25px;
  }
}

@media screen and (max-width: 450px) {
  .dev-icons img {
    width: 35px;
    margin: 25px;
  }
}
