#container-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* align-content: center; */
  justify-content: space-around;
  background-image: url('./img/about-background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #f1eaea;
  position: relative;
  height: 700px;
}

#about-card {
  display: flex;
  flex-direction: row;
  min-height: 30%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

#container-about p {
  font-size: large;
  text-shadow: black 1px 1px;
}

#social-icons {
  display: flex;
  flex-direction: row;
}

#social-icons img {
  width: 35px;
  margin: 15px;
}

#profile-img {
  width: 300px;
  height: 300px;
  border: rgba(0, 0, 0, 0.6) solid 2px;
  border-radius: 50%;
  position: relative;
}
