#about {
  height: 100vh;
}

#container-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-image: url('./img/about-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 90% 10%;
  color: #f1eaea;
  height: 100%;
}

#about-card {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 25%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 5px;
  position: relative;
  right: 12%;
  bottom: 12%;
}

#about-name {
  font-size: xx-large;
  text-shadow: black 1px 1px;
  padding-bottom: 10px;
}

#about-paragraph {
  font-size: large;
  text-shadow: black 1px 1px;
}

#social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#social-icons img {
  width: 35px;
  margin: 15px;
}

#profile-img {
  width: 300px;
  height: 300px;
  border: rgba(0, 0, 0, 0.6) solid 2px;
  border-radius: 50%;
  position: relative;
}
