#contact {
  background-color: #102342;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #02645e;
  color: white;
  padding-bottom: 40px;
}

.title-contact {
  font-size: xx-large;
  padding: 30px;
}

.contact-details {
  padding: 10px;
  font-size: x-large;
  width: 500px;
}

.contact-details a {
  text-decoration: underline;
  color: white;
  font-weight: 1000;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 230px;
  padding: 10px;
}

.alert {
  font-size: larger;
  color: red;
}

input,
textarea {
  margin: 10px;
  width: 450px;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.message {
  resize: none;
  height: 200px;
}

.contact-button {
  background-color: #102342;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-size: larger;
  font-weight: 700;
  padding: 5px;
  width: 100px;
}
