.page-container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d080a;
  color: #cfaf8c;
  min-height: 87.59vh;
}

.page-title {
  font-size: xx-large;
  padding: 40px;
}

.page-container-about img {
  width: 300px;
}

.page-container-about p {
  font-size: x-large;
  padding: 50px;
}
