* {
  box-sizing: border-box;
  margin: 0%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: #130303;
  color: #cfaf8c;
  height: 25px;
  min-width: 50vw;
  position: fixed;
  z-index: 1;
  list-style-type: none;
  margin-top: 2vh;
  border-radius: 5px;
}

.nav-item {
  font-size: large;
  cursor: pointer;
  /* Gave nav items a width in order to prevent shifting on hover bold */
  min-width: 4vw;
  display: flex;
  justify-content: center;
}

.nav-item:hover {
  font-weight: 1000;
}
