* {
  box-sizing: border-box;
  margin: 0%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #130303;
  color: #cfaf8c;
  min-height: 5vh;
}

.header-name {
  font-size: xx-large;
  font-weight: 1000;
  padding-left: 8px;
}

.nav-tabs {
  display: flex;
  list-style-type: none;
  text-decoration-style: none;
}

.nav-item {
  padding-left: 10px;
  padding-right: 8px;
  font-size: large;
  font-weight: 1000;
}

.nav-item a {
  text-decoration: none;
  color: #cfaf8c;
}

footer {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  font-weight: 1000;
  background-color: #130303;
  margin-top: auto;
  min-height: 5vh;
}

footer a {
  text-decoration: none;
  color: #cfaf8c;
  margin: 10px;
}
